@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div>
        <h1 class="display-4">Welcome</h1>
    </div>

    <div>
        <a href="https://github.com/IJsWorkshop"> <img src="~/Images/IJs_Coding_Workshop_logos_white.jpg" alt="This is the plain src label" width="650px" height="650px" /></a>
    </div>

    <div>
        <img src="~/Images/link_image_v1.jpg" alt="Link image" width="20px" height="20px" />
        <a href="https://github.com/IJsWorkshop">GitHub Repository : https://github.com/IJsWorkshop</a>
    </div>

    <div>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

</div>
